.container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu content secondmenu"
      "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 6fr 1fr;
    height: 100vh;
    gap: 3px;
    background-color: black;
    padding: 5px;
  }
  .container div {
    background-color: white;
    padding: 10px;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
    font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
    background-color: #FDF2F9;
  }
  .container div.menu {
    grid-area: menu;
    background-color: #FFDFF4;
  }

  .container div.secondmenu {
    grid-area: secondmenu;
  }

  .container div.content {
    grid-area: content;
    font-family: 'Inter';
    background-color: #D8D8E9;
    
  }
  .container div.footer {
    grid-area: footer;
    text-align: center;  
  }

  h3 {
    text-align: center;
    font-family: 'Playfair Display';
  }