.container {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav content content";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 8fr 1fr;
    height: 100vh;
    gap: 3px;
    background-color: black;
    padding: 5px;
  }
  .container div {
    background-color: white;
    padding: 10px;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
    font-family: 'Playfair Display', 'Arial Narrow', Arial, sans-serif;
    background-color: #FDF2F9;
  }
  .container div.sidenav {
    grid-area: sidenav;
    background-color: #FFDFF4;
  }

  .container div.sidenav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
  }

  .container div.sidenav a:hover{
    color: #f1f1f1;
  }

  .container div.content {
    grid-area: content;
    font-family: 'Inter';
    background-color: #D8D8E9;
    
  }

  h3 {
    text-align: center;
    font-family: 'Playfair Display';
  }

  h2 {
    text-align: left;
  }

  button {
    background-color: #FDF2F9;
    font-size: 24px;
    border: none;
  }
