@import url('https://fonts.googleapis.com/css?family=Playfair Display');

body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidenav content content"
    "sidenav content content";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  height: 100vh;
  gap: 25px;
  background-color: black;
  padding: 25px; 
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 100;
  background-color: #FDF2F9;
  border-radius: 15px;
}
.container div.sidenav {
  grid-area: sidenav;
  background-color: #FFDFF4;
  text-align: center;
  border-radius: 15px;
}

.container div.sidenav a{
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 10px 10px;
}

.container div.sidenav a:hover{
  color: #f1f1f1;
}

.container div.content {
  /* we will see if it changes my project content */
  grid-area: content; 
  font-family: 'Inter';
  background-color: #D8D8E9;
  overflow-y: auto;
  border-radius: 15px;
}

h3 {
  text-align: center;
  font-family: 'Playfair Display';
}

h2 {
  text-align: left;
}

.headerText {
  background-color: #FDF2F9;
  font-size: 24px;
  font-family: 'Playfair Display';
  font-weight: 100;
  border: none;
}

.projectOne {
  border: none;
  width: 150px;
  height: 25%;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius: 15%;
  margin-right: 150px;
  background-color: #FFEFEF;
}

.projectTwo {
  border: none;
  width: 150px;
  height: 25%;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius: 15%;
  margin-right: 150px;
  background-color: #FFEFEF;
}

.projectThree {
  border: none;
  width: 150px;
  height: 25%;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  border-radius: 15%;
  margin-right: 150px;
  background-color: #FFEFEF;
}
