@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  background-color: black;
}

.container {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidenav content secondmenu"
      "sidenav content secondmenu";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 8fr 1fr;
    height: 100vh;
    overflow: auto;
    gap: 15px;
    background-color: black;
    border-radius: 15%;
    padding: 25px;
  }
  .container div {
    background-color: white;
    padding: 10px;
  }
  .container div.header {
    grid-area: header;
    text-align: center;
    font-family: 'Playfair Display';
    font-weight: 100;
    background-color: #FDF2F9;
  }
  .container div.sidenav {
    grid-area: sidenav;
    background-color: #FFDFF4;
    text-align: center;

  }

  .container div.sidenav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 10px 10px;
  }

  .container div.sidenav a:hover{
    color: #f1f1f1;
  }

  .container div.secondmenu {
    grid-area: secondmenu;
    display: flex;
    flex-wrap: wrap;
  }

  .secondmenu div {
    box-sizing: border-box;
    margin: 5px;
    overflow:hidden;
    position:relative;
  }

  .secondmenu div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }


  .container div.content {
    grid-area: content;
    font-family: 'Inter';
    font-weight: mixed;
    font-size: small;
    background-color: #D8D8E9;
    
  }

  h3 {
    text-align: center;
    font-family: 'Playfair Display';
  }